<h3 class="mb-2">Intro Text</h3>
<hr />
<div class="container row mx-auto" style="width: 700px">
	<div class="introtext">
		<h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
             and scrambled it to make a type specimenbook. It has survived not only five centuries, but also 
             the leap into electronic typesetting, remaining essentially unchanged.
        </h5>
	</div>
		<button class="apply-btn" type="submit">APPLY FOR TRAINER</button>
</div>